* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --primary:#288645;
    --third: #72E1D1;
    --secondary: #94DDCF;
    --bg-color:#A8D08D;
}


body {
    background-color: var(--bg-color);
    font-size: 1rem;
    line-height: 1.5;
 }

 h1 {
    font-size: 36px;
}
.top {
    width: 100%;
    height: 5;
    text-align: center;
    background: linear-gradient(135deg, #00ff6e, #6b8f3fc9, #125a2b8f, #5f9ea0);
    background-size: 400% 400%; 
    animation: flow 6s ease infinite;
}

@keyframes flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.logo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    /* color: #288645; */
    color: rgb(232, 224, 224);
    font-family: 'Sofia', sans-serif;
    letter-spacing: 2rem;
  }
  
.nav-bar {
    background-color: #72d2046b;
    width: 100%;
    border-bottom: 2px solid rgba(244, 238, 238, 0.25);
    height: 60px;
    /* font-size: 20%; */
    display: flex;
    position: sticky;
    /* backdrop-filter: blur(15px); */
    top: 0px;
    align-items: center;
    padding: 0 32px;
} 

.left-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-nav a {
    font-size: 16px;
    font-weight: 600;
    color: #cadcd0; /* Match the original color */
    text-transform: uppercase;
    text-decoration: none; 
    display: block; 
    padding: 5px 5px;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 5px;
}
.right-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

 .nav-bar  li {
    font-size: 16px;   
    font-weight: 600;       
    color: #cadcd0; 
    text-transform: uppercase;    
    cursor: pointer;
    align-items: center;      
    padding: 5px 5px;
    transition: all 0.3s ease;    
    text-align: center;          
    border-radius: 25px;  
    margin: 0 1.5vw;
}

ul li:hover {
    background-color: #aca70d99;  
    color: white;                
    transform: translateY(5px);  
  }
  ul li.active {
    background-color: #006400;  
    color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
  .left-nav a:hover {
    color: white;
  }
  
  /* Animation for menu items when they appear */
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  ul li {
    animation: fadeIn 0.5s ease-out;
  }

  .hero {
    background-color: aliceblue;
    height: 100vh;
    background-image: url(images/bg/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .welcome {
      /* margin-top: 32px; */
      display: inline-flex;
      height: 80%;
      width: 100%;
      color: white;
      /* justify-content: space-between; */
      /* align-items: center; */
      background-color: #52929244;
      justify-content: center;
      gap: 4rem;
      position: relative;
      shape-outside: circle(50%);

 
  }

  .welcome-text {
    /* background-color:blue; */
    margin-top: 2rem;
    width: 45%;
    height: auto;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 5s forwards; 
  
  }
 
  .welcome-text h1 {
    line-height: 1.1;
    margin-bottom: 1.5rem; 
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .hero-pic {
    /* width: 45%; */
    width: 250px; 
    height: 250px;
    margin-right: 2rem;
    margin-top:3rem ;

    /* background-color: #00ff6e; */

  }
 

.hero-picture {
    /* width: 400px;
    height: 400px;
    padding-left: 2rem;
    border-radius: 100%; */
        width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s ease;
    animation: rotate-circle 25s linear infinite;
}

@keyframes rotate-circle {
    0% {
      transform: scaleX(-1) rotate(0deg);
    }
    100% {
      transform: scaleX(-1) rotate(360deg); 
  } 

}
.hero-picture:hover {
     animation: none;
   
}
.actions {
    position: absolute;
    top: 20rem;
    left: 45vw;
}
.cta-button {
    background-color: #11612c;
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 20px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .cta-button:hover {
    background-color: #51810d;
    color: white;
  }
 .button-2 {
    background-color: #a9c8a9;
    color: green;
    margin-left: 20px;
  }

                                      /* the discover page */
                                      

  .discover-container {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #086b0869, #086b084a, #086b08e4, #176d87b8);
    background-size: 400% 400%;
    animation: gradientAnimation 25s ease infinite;
    padding-bottom: 26px;
    color: white;
  }

  @keyframes gradientAnimation {
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
  }

  .discover-container h1 {
    text-align: center;
    padding: 64px 40px;
  }

   .discover {
    box-sizing: border-box;
     /* background-color: rgba(227, 243, 227, 0.219); */
     width: 80%;
     height: 30rem;
     justify-self: center;
     padding: 0rem 0px;
     border: 1px solid rgb(68, 183, 53);
     border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    background-image: url(images/bg/village-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

  .card-container {
    box-sizing: border-box;
    background-color: #00640074;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* align-items: center; */
    padding: 4rem 10px 30px 10px;
    /* margin-bottom: 2rem; */

  }

  .card {
    background-color: #09b0099b;
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.5s, box-shadow 0.3s;
  }

  .card h3 {
    padding-bottom: 5px;
  }

  .card img {
    max-width: 100%;
    height: 80%;
    /* max-height: 45vh; */
    border-radius: 10px;
  }
  .card:hover {
    transform: scale(1.07);
    box-shadow: 0px 10px 8px  rgba(0, 0, 0, 0.2);
  }
 
  .discover-detail {
    width: 90%;
  margin-top: -30px ;
  margin-left: 5%;
  /* display: none; */
  }

  .detail {
    text-align: center;
    border: 1px solid #b6d4a98c;
    border-radius: 10px;
    padding: 2px;
    display: none;
    /* background-color: #007bff88; */
    background-image: url(images/trials/detail-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .detail:target {
    display: block; /* Show the targeted section */

  }
  .discover-container:has(.detail:target) .discover {
    display: none; 
}

.detail2 p {
    padding-bottom: 10px;
}
  
.culture-sub-cont {

    width: 100%;
    height: auto;
    background-color: rgba(107, 107, 26, 0.459);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 34px;
    padding: 20px;
}

.culture-pictures {
    background-color: rgba(42, 219, 29, 0.202); /* Optional: Adds contrast */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
}

.culture-sub-cont img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
 


.culture-sub-cont img:hover {
    transform: scale(1.05) translateY(1px); 
  }

  .close {
    display: block;
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: #0e79e5;
    width: 4rem;
    justify-self: center;
  }
  
  .close:hover {
    color:blue;
  }
                      
                         /*LIVELIHOOD SECTION*/

  .livelihood-sub-container {
    background-color: #e50e7d;
    /* background-image: url("images/trial/live-bg.jpg"); */
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

  }

  .livelihood-sub-cont input[type= "radio"]{
                display: none;
  }

  .livelihood-sub-cont {
    width: 100%;
    height: 90%;
    background-color: rgba(203, 203, 39, 0);
  }

  .slides {
    position: absolute;
    top: 10px;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
  } 

    #slide1:checked ~ .slides:nth-child(4),
    #slide2:checked ~ .slides:nth-child(5),
    #slide3:checked ~ .slides:nth-child(6) {
    left: 0; 
    opacity: 1; 
}

   /* .slides p {
    width: 40%;
  } */

  .slides img {
    width: 40%; 
    height: 300px;
  }    
  
  .livelihood-back {
    position: absolute;
    left: 45%;
    bottom: 3rem;
  }